
ion-toggle {
    --background: #ff0000;
    --background-checked: #ff0000;
  
    --handle-background: #740303;
    --handle-background-checked: #740303;
  }
  

  ion-toggle {
    width: 50px;    
    height: 25px; 
  }