<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Bem-vindo!
      </ion-card-title>
      <ion-card-subtitle>
        Gerencie seus moradores e apartamentos!
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>

  
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Regras de negócio
      </ion-card-title>
      <ion-card-subtitle>
        O proprietário do apartamento deve ser maior que 18 anos.
      </ion-card-subtitle>
      <ion-card-subtitle>
        O proprietário do apartamento deve ser menor que 120 anos.
      </ion-card-subtitle>
      <ion-card-subtitle>
        O número do apartamento deve ser maior que 100. 
      </ion-card-subtitle>
      <ion-card-subtitle>
        Ao menos uma pessoa deve morar no apartamento. 
      </ion-card-subtitle>
      <ion-card-subtitle>
        Se possuir pet deve ser informado qual. 
      </ion-card-subtitle>
      <ion-card-subtitle>
        Se NÃO possuir pet não deve ser informado ("não tenho"). 
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>
 
</ion-content>